name: "Create PR in external repo using GH CLI"

on:
  push:
    branches: [ main ]
  issue_comment:
    types: [ created ]

jobs:
  CreateExternalPR:
    if: |
      (github.event_name == 'issue_comment' &&
       github.event.issue.state == 'open' &&
       contains(github.event.comment.body, '[SYNC_TO_CHILD]')) ||
      (github.event_name == 'push' && 
       startsWith(github.event.head_commit.message, 'Merge pull request'))
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current branch (for workflow files)
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref }}

      - name: Determine PR number based on trigger
        id: trigger-info
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            PR_NUMBER=$(echo "${{ github.event.head_commit.message }}" | grep -oP 'Merge pull request #\K\d+')
          else
            PR_NUMBER="${{ github.event.issue.number }}"
          fi
          
          echo "pr_number=$PR_NUMBER" >> $GITHUB_OUTPUT

      - name: Setup GitHub CLI
        run: |
          bash external_pr_files/setup_cli.sh

      - name: Sync repositories
        run: |
          export PYTHONPATH=$(pwd)
          python external_pr_files/external_pr.py "${{ github.event.repository.name }}" "${{ steps.trigger-info.outputs.pr_number }}"
        env:
          GH_TOKEN: ${{ secrets.TARGET_REPO_PAT }}
