
name: "Create PR in external repo using GH CLI"

on:
  push:
    branches: [ main ]
  issue_comment:
    types: [ created ]

jobs:
  CreateExternalPR:
    if: |
      (github.event_name == 'issue_comment' &&
       github.event.issue.state == 'open' &&
       contains(github.event.comment.body, '[SYNC_TO_CHILD]')) ||
      (github.event_name == 'push' && 
       contains(github.event.head_commit.message, '[DOCS]'))
    runs-on: ubuntu-latest

    steps:
      - name: Checkout current branch (for workflow files)
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref }}

      - name: Setup FIPL Environment
        uses: fipl-hse/setup-env-action@v0.12

      - name: Setup GitHub CLI
        run: |
          bash admin_utils/external_pr_files/setup_cli.sh

      - name: Determine PR number based on trigger
        id: trigger-info
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ github.event_name }}" == "push" ]; then
            PR_NUMBER=$(gh api /repos/${{ github.repository }}/commits/${{ github.sha }}/pulls \
              --jq '.[0].number')
          else
            PR_NUMBER="${{ github.event.issue.number }}"
          fi
          
          echo "pr_number=$PR_NUMBER" >> $GITHUB_OUTPUT

      - name: Sync repositories
        run: |
          source venv/bin/activate
          export PYTHONPATH=$(pwd)
          python admin_utils/external_pr_files/external_pr.py "${{ github.event.repository.full_name }}" "${{ steps.trigger-info.outputs.pr_number }}"
        env:
          GH_TOKEN: ${{ secrets.TARGET_REPO_PAT }}
